{
  "presets": ["env", "react", "stage-2"],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy"
      ]
    },
    "production": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-react-inline-elements",
        "transform-react-constant-elements"
      ]
    }
  }

}
