.btn {
  @include unselectable;
}

.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default:hover {
  background-color: #f3f7f8!important;
}

.btn-default:focused {
  background-color: #ebeef2!important;
}

.btn-default:active {
  background-color: #ebeef2!important;
	border: solid 1px #b7c3ce!important;
}

.icon-wrapper {
  cursor: pointer;
}

.icon-wrapper img {
  margin-top: -12px;
}
