.btn {
  @include unselectable;
}

.btn-default:hover {
  background-color: #f3f7f8!important;
}

.btn-default:focused {
  background-color: #ebeef2!important;
}

.icon-wrapper {
  cursor: pointer;
}

.icon-wrapper img {
  margin-top: -12px;
}
