.time-query {
  border-radius: 21px;
	background-color: #ffffff;
  border: solid 1px #1bd0c9;
  height: 681px;
  padding: 21px 35px 28px 35px;
  font-size: 14px;
  text-align: left;

  hr {
    margin: 20px 0 0 0;
  }

  .btns {
    float: right;
    position: relative;
    margin-top: 20px;
  }

  .btns .btn {
    margin-left: 3px;
    width: 60px;
    height: 34px;
    border-radius: 17px;
    font-size: 13px;
    line-height: 22px;
    border: solid 1px #b7c3ce;
  }

  .btns .btn-primary {
    background-color: #1bd0c9;
    border: none;
  }
}

.cell-selector {
  @include unselectable;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 14px;

  th {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    height: 40px;
    &:nth-child(1) { width: 3%; }
    width: 13.8571%;
    width: calc(97% /7); //FYI: IE9+
  }

  tbody tr {
    height: 16px;
  }
  tbody tr:nth-child(odd) td { border-top: 1px solid #ebeef2; }
  tbody tr:nth-child(odd) td:first-child {
    border-top: none;
    border-right: 1px solid #ebeef2;
    text-align: right;
    padding-right: 8px;
  }
  tbody tr:nth-child(even) td { border-top: 1px solid rgba(235, 238, 242, 0.3) } // #ebeef2
  tbody tr td:last-child { border-right: 1px solid #ebeef2; }
  tbody tr:last-child td { border-bottom: 1px solid #ebeef2;}

  .draggable {
    &:hover {
      background-color: rgb(250, 237, 197); // #fac52d * 0.3
    }
    &.SELECTED {
      background-color: #fac42d;
    }
    &.SELECTED:hover {
      background-color: #f8b20b;
    }
    &.SELECTING {
      background-color: #f8b20b;
    }
    &.DELETING {
      background-color: #4f48c4;
    }
  }
}
