.snutt__modal-overlay {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 30px; //Because of top-bar
}

.snutt__modal {
    width: 500px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    background-color: white;
    border-radius: 21px;
}

@media (max-width: 600px) {
    .snutt__modal {
        width: 90%;
    }
}

.snutt__course-editor input {
    border-radius: 0;
    padding-left: 6px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ebeef2;
}

.snutt__course-editor #title { margin: 0; }

.snutt__course-editor hr {
    width: 100%;
    margin: 16px 0;
    height: 1px;
    background-color: #d5dbe0;
    border: none;
}

.snutt__course-editor .control-label {
    text-align: left;
    font-size: 13px;
    font-weight: normal;
}

.snutt__course-editor .button-groups {
    text-align: right;
}

.snutt__course-editor .btn {
    height: 34px;
    margin-left: 8px;
    padding: 8px 18px;
    line-height: 18px;
    border-radius: 17px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid;
}

.snutt__course-editor .btn-default {
    border-color: #b7c3ce;
}

.snutt__course-editor .btn-primary {
    border-color: #1bd0c9;
    background-color: #1bd0c9;
    color: white;
}

.snutt__json_container #add-row {
    height: 34px;
    padding: 3px 11px;
    border-radius: 17px;
    border: solid 1px #b7c3ce;
    opacity: 0.6;
}

.snutt__json_row {
    margin-bottom: 5px;
    display: table;
}

.snutt__json_row select {
    color: black;
    margin-right: 10px;
    border: none;
    height: 25px;
    padding: 2px;
    background-color: white;
    border-bottom: 1px solid #ebeef2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 0 6px 0;
    opacity: 0.2;
}

.snutt__select {
    display: inline-block;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.2);
    height: 25px;
    border-bottom: 1px solid #ebeef2;
    padding: 2px;
    cursor: default;
}

.snutt__select .snutt__options {
    margin-bottom: 5px;
    color: #3a4147;
}
.snutt__select .snutt__options.is-focused {
    color: #0da39d;
}

.snutt__select .Select-menu-outer {
    border: solid 1px #b7c3ce;
    border-radius: 14px;
    padding: 8px 6px 8px 16px;
    position: absolute;
    z-index: 20;
    background-color: white;
}

.snutt__select .Select-menu {
    cursor: pointer;
    max-height: 200px;
    overflow-y: scroll;
    padding-right: 16px;
}

.snutt__select .Select-menu::-webkit-scrollbar {
    width: 4px;
}

.snutt__select .Select-menu::-webkit-scrollbar-track {
    background-color: transparent;
}

.snutt__select .Select-menu::-webkit-scrollbar-thumb {
    background-color: rgba(112, 115, 124, 0.2);
    border-radius: 14px;
}

.snutt__select .Select-placeholder {
    display: inline-block;
    margin-right: 10px;
}

.snutt__select .Select-value {
    color: rgba(0, 0, 0, 0.2);
    display: inline;
    margin-right: 10px;
}

.snutt__json_row input {
    @include unselectable;
    color: black;
    width: 105px;
}

.circle-wrapper .color-circle {
    padding: 3px 10px;
    height: 24px;
    border-radius: 17px;
    text-align: center;
    margin: 0 5px 9px 0;
    float: left;
    cursor: pointer;
    font-size: 11px;
    background-color: white;
    border: 1px solid;
}
