.snutt__login {
    background: white;
    padding: 20px;
    margin: 40px 0;
}

.snutt__inputWrapper {
    position: relative;
    padding-top: 20px;
}

.snutt__inputWrapper input {
    width: 100%;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #bcb5b9;
}

.snutt__inputWrapper input:focus {
    border-bottom: 1px solid rgb(51, 103, 214);
}

.snutt__labelWrapper {
    position: absolute;
    top: 20px;
    color: #bcb5b9;
    transition: color 200ms ease, transform 200ms ease;
    z-index: -1;
}

.snutt__inputWrapper input:focus+.snutt__labelWrapper {
    color: RGB(51, 103, 214);
}

.typed+.snutt__labelWrapper {
    transform: translateY(-10px) scale(0.8);
    transform-origin: left top;
    opacity: 1;
    z-index: 1
}

#snutt__findPass { text-align: right; }
#snutt__findPass a { color: #bcb5b9; }
#snutt__findPass a:hover { color: rgb(51, 103, 214); }

.snutt__login #keep-login {
    color: black;
    font-weight: normal;
}

.snutt__login .error {
    color: #D13D37;
    text-align: center;
    margin: 20px 0;
}

.snutt__login .btn {
    border-radius: 0;
    border: 0;
    color: white;
    width: 100%;
    margin-top: 5px;
}
.snutt__login .btn { background-color: #bcb5b9; }
.snutt__login .btn.login { background-color: #4A90E2; }
.btn.login-fb { background-color: #365899; color: white; }
.snutt__login .btn.join { background-color: #5cb85c; }

.snutt__login i.fa-facebook {
    margin-right: 4px;
}


// For signup - Valid or invalid should be shown after input is done
.snutt__inputError { opacity: 0; }
.invalid:not(:focus) { border-bottom-color: #D13D37; }
.invalid:not(:focus)~.snutt__inputError {
    color: #D13D37;
    opacity: 1;
}
.valid:not(:focus) { border-bottom-color: green; }
.valid:not(:focus)+.snutt__labelWrapper { color: green; }
.snutt__login .btn.signup { background-color: #5cb85c; }

// For myPage.jsx
.snutt__setting.container {
    margin: 50px 0;
}

.snutt__setting label {
    text-align: right;
}

.snutt__setting #local-id {
    margin-bottom: 10px;
}

.snutt__setting .new-password {
    input {
        margin-bottom: 5px;
    }
}

.snutt__setting input:valid {
    border-color: green;
}
