.snutt__login {
    background: #f8f9fa;
    margin: 120px auto;
    width: 300px;
}

.snutt__login h2 {
    font-size: 26px;
    font-family: Noto Sans KR;
    font-weight: bold;
}

.snutt__login .keeplogin {
    margin-top: 20px;
}
.snutt__login .keeplogin .checkbox-inline {
    padding-left: 0;
}

.snutt__inputWrapper {
    position: relative;
    padding-top: 20px;
}

.snutt__inputWrapper input {
    width: 100%;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #ebeef2;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.snutt__inputWrapper input:focus {
    border-bottom: solid 1px #b7c3ce;
    color: #000000;
}

.snutt__inputWrapper::-webkit-input-placeholder {
    opacity: 0.2;
}

.snutt__labelWrapper {
    position: absolute;
    top: 20px;
    color: #bcb5b9;
    transition: color 200ms ease, transform 200ms ease;
    z-index: -1;
}

.snutt__inputWrapper input:focus+.snutt__labelWrapper {
    color: RGB(51, 103, 214);
}

.typed+.snutt__labelWrapper {
    transform: translateY(-10px) scale(0.8);
    transform-origin: left top;
    opacity: 1;
    z-index: 1
}

#snutt__findPass { text-align: right; }
#snutt__findPass a { color: #bcb5b9; }
#snutt__findPass a:hover { color: rgb(51, 103, 214); }

.snutt__login .error {
    color: #D13D37;
    text-align: center;
    margin: 20px 0;
}

.snutt__login .btn {
    border-radius: 21px;
    border: none;
    width: 100%;
    margin-top: 10px;
    height: 34px;
    font-size: 13px;
    background-color: transparent;
    opacity: 1;
}

.btn.primary {
    color: white;
    background-color: #1bd0c9;
}
.btn.primary:hover {
    background-color: rgb(12, 173, 166);
}

.btn.login-fb {
    color: #3c5dd4;
    border: solid 1px #3c5dd4;
}
.btn.login-fb:hover {
    background-color: rgba(60, 93, 212, 0.1);
}

.snutt__login .btn.logout {
    color: #000000;
    border: solid 1px #b7c3ce;
}
.snutt__login .btn.join {
    color: #000000;
    opacity: 0.6;
}
.snutt__login .btn.signup {
    color: white;
    background-color: #1bd0c9;
    margin-top: 30px;
}


// For signup - Valid or invalid should be shown after input is done
.snutt__inputError { display: none; }
.invalid:not(:focus) { border-bottom-color: #D13D37; }
.invalid:not(:focus)~.snutt__inputError {
    color: #D13D37;
    display: initial;
}
.valid:not(:focus) { border-bottom-color: green; }
.valid:not(:focus)+.snutt__labelWrapper { color: green; }

// For myPage.jsx
.snutt__setting {
    width: 300px;
    margin: 70px auto;
}
.snutt__setting h2 {
    font-size: 26px;
    font-family: Noto Sans KR;
    font-weight: bold;
    margin-bottom: 32px;
}
.snutt__setting .btn {
    border-radius: 21px;
    height: 34px;
    font-size: 13px;
    background-color: transparent;
    opacity: 1;
    width: auto;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 4px;
}

.snutt__setting .btn.withdrawl {
    color: #dd2e45;
    border: solid 1px #dd2e45;
}
.snutt__setting .btn.withdrawl:hover {
    background-color: rgba(229, 68, 89, 0.1);
}
.snutt__setting .btn.passchange {
    float: right;
    background-color: #1bd0c9;
}


.snutt__setting .form-group {

}
.snutt__setting label {
    color: #000000;
    opacity: 0.2;
    font-size: 14px;
    margin-top: 10px
}
.snutt__setting .form-control {
    background-color: transparent;
    border: none;
    height: 40px;
    box-shadow: none;
    border-bottom: solid 1px rgb(235, 238, 242);
    padding: 0;
    margin-bottom: 10px;
}

.snutt__setting #email-text {
    color: black;
    line-height: 40px;
}
