.snutt__login {
    background: white;
    padding: 20px;
    margin: 40px 0;
}

.snutt__inputWrapper {
    position: relative;
    padding-top: 30px;
}

.snutt__inputWrapper input {
    width: 100%;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #bcb5b9;
}

.snutt__inputWrapper input:focus {
    border-bottom: 1px solid rgb(51, 103, 214);
}

.snutt__labelWrapper {
    position: absolute;
    top: 30px;
    color: #bcb5b9;
    transition: color 200ms ease, transform 200ms ease;
    z-index: -1;
}

.snutt__inputWrapper input:focus+.snutt__labelWrapper {
    color: RGB(51, 103, 214);
}

.typed+.snutt__labelWrapper {
    transform: translateY(-10px) scale(0.8);
    transform-origin: left top;
    opacity: 1;
    z-index: 1
}

#snutt__findPass {
    text-align: right;
    color: #bcb5b9;
}

.snutt__login #keep-login {
    color: black;
    font-weight: normal;
}

.snutt__login .error {
    color: #D13D37;
    text-align: center;
    margin: 20px 0;
}

.snutt__login .btn {
    border-radius: 0;
    border: 0;
    color: white;
    width: 100%;
    margin-top: 5px;
}

.snutt__login .btn.login {
    background-color: #4A90E2;
}

.snutt__login .btn.login-fb {
    background-color: #365899;
}

.snutt__login .btn.join {
    background-color: #5cb85c;
}

.snutt__login i.fa-facebook {
    margin-right: 4px;
}

// For myPage.jsx
.snutt__setting.container {
    margin: 50px 0;
}

.snutt__setting label {
    text-align: right;
}

.snutt__setting .new-password {
    input {
        margin-bottom: 5px;
    }
}
