.navbar-default {
  background-color: #4A90E2;
  b, .navbar-nav>li>a {
    color: white;
  }
  .navbar-text {
    color: #8FBDF3;
  }
  .dropdown-toggle {
    background-color: #4A90E2 !important;
  }
  border: 0;
}
