.navbar-default {
  background-color: #4A90E2;
  @include unselectable;
  .tt__navbar {
      line-height: 18px;
      padding: 16px 8px;
      margin: 0;
      margin-right: 15px;
      float: left;
  }
  .tt__navbar-right {
      float: right;
      margin-right: 0px;
  }
  .tt__brand {
      font-size: 18px;
      color: white !important;
      margin: -8px;
  }
  .dropdown {
      list-style-type: none;
      color: white !important;
  }
  .dropdown:focus {
      outline: none;
  }
  .dropdown-toggle {
      background-color: #4A90E2 !important;
      color: white !important;
  }
  .tt__navbar p {
      margin: 0 !important;
      padding: 0 !important;
      color: white !important;
  }
  .tt__navbar a {
      color: white !important;
  }
  .tt__navbar a:hover {
      cursor: pointer !important;
      text-decoration: none;
  }
}

#snutt__noti-wrapper:focus {
    outline: none;
}

#snutt__noti-new {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ef322e;
    position: absolute;
    top: 14px;
    left: 24px;
}

#snutt__noti-box {
    position: absolute;
    top: 49px;
    right: 0px;
    color: black;
    background-color: white;
    width: 300px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.snutt__noti-message {
    padding: 2px 10px;
    border-bottom: 1px solid #D9D6DA;
    font-family: 'Nanum Gothic', Sans-Serif;
}
.snutt__noti-message:hover {
    background-color: #F9F8F5;
}

.snutt__noti-body {
    padding: 2px 0 0 0;
    margin: 0px;
}

.snutt__noti-date {
    font-size: 9px;
}
