.col-search {
    padding-bottom: 10px;
}

.result-wrapper {
  overflow-y: auto;
  height: 400px;
  background-color: #ffffff;
  border: none;
}

@media (min-width: 1200px) { // 'lg' in bootstrap
    .result-wrapper {
        height: 745px;
    }
}

.resultTable {
  color: #000000;
  background-color: #ffffff;
  padding: 0;
  table-layout: fixed;

  border-top: 0;
  font-size: 14px;
  width: 100%;
  max-width: 100%;

  .col-course-no { width: 10%; }
  .col-title { width: 20%; }
  .col-credit {width: 5%; } //35
  .col-department { width: 10%; }
  .col-time { width: 13%; }
  .col-location { width: 10%; }
  .col-professor { width: 10%; } //77
  .col-remark { width: 23%; }

  td {
    padding: 18px 30px 0 30px !important;
    border: 0 !important;
    text-overflow: ellipsis;
    text-align:left;
    overflow: hidden;
    -webkit-line-clamp: 2;
    h5 {
      display: inline-block;
      margin: 0 6px 10px 0;
      font-weight: normal;
      line-height:1.23 !important;
    }

    h5.title {
      font-weight: bold;
      opacity: 1;
    }

    h5.pull-right {
      opacity: 0.6;
      margin: 0;
    }

    p {
      margin: 0 0 5px 0;
      opacity: 0.8;
      line-height:1.14 !important;
    }

    hr {
      background-color: #ebeef2;
      margin: 14px 0 0 0;
    }
  }

  .tr-result-loader {
    display: block;
    width: 64px;
    height: 64px;
    margin: 64px auto;
  }

  .tr-result:hover, .tr-result.hovered {
    background-color: #DDF3FF;
    border-bottom: hidden;

    .btn {
      font-size: 10px;
      padding: 3px 6px;
      border: 0;
      margin-left: 3px;
      &:focus { outline: none }
    }

    .buttons {
      // float: right;
      margin-right: 3px;
    }
  }

  .time-string {
    margin: 0;
  }

}
