.col-search {
    padding-bottom: 10px;
}

.result-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
  background-color: #fafafa;
  border: 1px solid #D9D6DA;
  border-top: 0;
}

@media (min-width: 1200px) { // 'lg' in bootstrap
    .result-wrapper {
        height: 626px;
    }
}


.resultTable {
  color: #4a4a4a;
  background-color: #fafafa;
  padding: 0px;
  table-layout: fixed;

  border-top: 0;
  font-size: 0.8em;
  width: 100%;
  max-width: 100%;
  text-align: center;

  th {
    padding: 4px 0!important;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    border-bottom: 1px solid #D9D6DA!important;
  }

  .col-course-no { width: 10%; }
  .col-title { width: 20%; }
  .col-credit {width: 5%; } //35
  .col-department { width: 10%; }
  .col-time { width: 13%; }
  .col-location { width: 10%; }
  .col-professor { width: 10%; } //77
  .col-remark { width: 23%; }

  td {
    padding: 8px 2px!important;
    border: 0px!important;
    border-bottom: 1px solid #D9D6DA!important;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }

  .tr-result:hover, .tr-result.hovered {
    background-color: #DDF3FF;
    border-bottom: hidden;
  }

  .tr-detail, .tr-detail:hover {
    width: 100%;
    background-color: #DDF3FF;
    border-top: hidden;
    td { padding-top: 0!important; }

    .btn {
      font-size: 10px;
      padding: 3px 6px;
      border: 0;
      margin-left: 3px;
      &:focus { outline: none }
    }

    .buttons {
      float: right;
      margin-right: 3px;
    }
  }

  .time-string {
    margin: 0;
  }

}
