.searchpanel-wrapper {
  background-color: white;
  position: absolute;
  z-index: 2;
  border: 1px solid #1bd0c9;
  border-radius: 21px;
  top: 41px;
  left: -160px;
  width: 860px;
  padding: 21px 35px 39px 35px;
  font-size: 14px;
  color: black;
}

@media (max-width: 1200px) {
  .searchpanel-wrapper {
    width: 100%;
    left: 0;
  }
}

.searchpanel-wrapper svg {
  cursor: pointer;
}

.searchpanel-wrapper #title-wrapper {
  height: 20px;
  font-weight: bold;
}

.searchpanel-wrapper #title-wrapper span {
  vertical-align: top;
}

.searchpanel-wrapper #condition-count {
  color: #0caea6;
  margin: 0 8px 0 12px;
}

.searchpanel-wrapper hr {
  border-color: #d5dbe0;
  margin: 15px 0;
}

.searchpanel-wrapper .control-label {
  text-align: left;
  font-weight: normal;
  padding-bottom: 7px;
  padding-top: 0px;
}

.searchpanel-wrapper .form-group {
  font-size: 13px;
  margin-bottom: 10px;
}

/// CHECKBOXES

.searchpanel-wrapper .checkbox-inline {
  margin: 0 10px 6px 0;
  user-select: none;
  padding-left: 0;
  padding-right: 20px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.searchpanel-wrapper .radio-inline {
  display: inline-block;
  padding-top: 17px;
  margin-top: -12px;
}

@media(max-width: 750px) {
  .searchpanel-wrapper .radio-inline {
    display: block;
    margin-top: 6px;
    padding-top: 0px;
  }
  .searchpanel-wrapper .radio-inline:nth-child(3) {
    margin-left: 0;
    margin-bottom : 5px;
  }
}

.searchpanel-wrapper .radio-inline input {
  background-color: #1bd0c9;
}

.searchpanel-wrapper .checkbox-inline {
  margin: 0;
}

////
// Radio button styling
////
.searchpanel-wrapper input[type=radio] {
  display: none;
}

.searchpanel-wrapper .radio-inline div:before {
  content: url('../assets/ic-radio-off-normal.svg?inline');
  display: inline-block;
  box-sizing: border-box;
  margin-right: 5px;
  vertical-align: middle;
}

.searchpanel-wrapper input[type=radio]:hover + div:before {
  content: url('../assets/ic-radio-off-over.svg?inline');
}

.searchpanel-wrapper input[type=radio]:checked + div:before {
  content: url('../assets/ic-radio-on-normal.svg?inline');
}

.searchpanel-wrapper input[type=radio]:checked:hover + div:before {
  content: url('../assets/ic-radio-on-over.svg?inline');
}

.searchpanel-wrapper .radio-inline span {
  vertical-align: middle;
  opacity: 0.7;
}


////
// Checkbox Styling
////
input[type=checkbox] {
  display: none;
}

.checkbox-inline div:before {
  // content: "";
  content: url('../assets/ic-check-off-normal.svg?inline');
  display: inline-block;
  border-radius: 0;
  width: 13px;
  height: 13px;
  border: none;
  box-sizing: border-box;
  margin-right: 5px;
  vertical-align: middle;
}

// Checked checkbox
input[type=checkbox]:checked + div:before {
  content: url('../assets/ic-check-on-normal.svg?inline');
  font-size: 13px;
  background-color: #1bd0c9;
  color: white;
  border: none;
}
// Hovered and not checked checkbox
input[type=checkbox]:hover + div:before {
  content: url('../assets/ic-check-off-over.svg?inline');
}

// Hovered and checked checkbpx
input[type=checkbox]:checked:hover + div:before {
  content: url('../assets/ic-check-on-over.svg?inline');
}

// Checked & hovered label
input[type=checkbox]:checked + div,
input[type=checkbox]:hover + div {
  color: #1bd0c9;
}

.checkbox-inline div {
  height: 19px;
}

.checkbox-inline span {
  vertical-align: middle;
  opacity: 0.7;
}

.searchpanel-wrapper .departments input {
  height: 100%;
  width: 90%;
  font-size: 12px;
  border: none;
  color: black;
}

.searchpanel-wrapper .departments input:focus ~  {
  height: 18px;
  opacity: 0.2;
  font-size: 12px;
  border: none;
}

.searchpanel-wrapper .tag-selected {
  display: inline-block;
  color: #0caea6;
  opacity: 1;
  font-size: 12px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.searchpanel-wrapper .tag-selected span {
  margin-right: 5px;
}

.searchpanel-wrapper .timeselector-wrapper {
  padding-left: 10px;
  vertical-align: sub;
  display: inline-block;
}

.searchpanel-wrapper .open-timeselector {
  display: inline-block;
  height: 24px;
  padding: 3px 11px;
  font-size: 12px;
	opacity: 0.2;
	border-radius: 14px;
  border: 1px solid #b7c3ce;
  cursor: default;
}

.searchpanel-wrapper .open-timeselector.enabled {
  cursor: pointer;
  border: solid 1px #b7c3ce;
  color: black;
  opacity: 1;
}
