.react-autosuggest__container {
  display: inline-block;
}

.react-autosuggest__input {
  width: 100%;
}

.react-autosuggest__suggestions-container {
  width: 80%;
  list-style-type: none;
  padding: 0 5px;
  position: absolute;
  z-index: 1;
}

.react-autosuggest__suggestion {
  border-bottom: 1px solid;
  border-color: gray;
  background-color: white;
}

.react-autosuggest__suggestion--focused {
  background-color: #b3ecff;
}

.selected-department {
  display: inline-block;
}

#search-form {
  background: #FAFAFA;
}

#timeselector-toggle {
  position: relative;
}

#timeselector-container {
  position: absolute;
  background-color: white;
  z-index: 1;
  height: 500px;
}

#timeselector-container {
  table {
    margin-bottom: 3px;
  }
  td:hover {
    background-color: yellow;
  }
  .dragged {
    background-color: lightskyblue;
  }

  .selected {
    background-color: blue;
  }
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}