.search-filter {
  top: 0px;
  position: relative;
  max-height: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: transparent;
  transition: max-height 0.3s, border-color 0s linear 0.3s, top 0s linear 0.3s;
}

#filter-active {
  top: -1px;
  max-height: 350px;
  border-width: 0 0 1px 0;
  border-color: #4A90E2;
  border-style: solid;
  padding: 0 0 10px 0;
  transition: max-height 0.3s;
}

.react-autosuggest__container {
  display: inline-block;
}

.react-autosuggest__input {
  width: 100%;
}

.react-autosuggest__suggestions-container {
  width: 80%;
  list-style-type: none;
  padding: 0 5px;
  position: absolute;
  z-index: 1;
}

.react-autosuggest__suggestion {
  border-bottom: 1px solid;
  border-color: gray;
  background-color: white;
}

.react-autosuggest__suggestion--focused {
  background-color: #b3ecff;
}

.selected-department {
  display: inline-block;
}

#search-form {
  background: #FAFAFA;
}

#timeselector-toggle {
  position: relative;
}

#timeselector-container {
  position: absolute;
  background-color: white;
  z-index: 1;
  height: 500px;
}

#timeselector-container {
  table {
    margin-bottom: 3px;
  }
  td:hover {
    background-color: yellow;
  }
  .dragged {
    background-color: lightskyblue;
  }

  .selected {
    background-color: blue;
  }
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#search-form {
  // background-color: #FAFAFA;
  background-color: #FFFFFF;
  border-width: 0 0 1px 0;
  border-color: #9B9B9B;
  border-radius: 0;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#search-form:focus {
  border-color: #4A90E2;
}

#searchbar-container {
  position: relative;
}

#search-button-container {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 10px;
  span {
    padding: 0 4px 0 4px;
    color: #9B9B9B;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
  }
  span:hover {
    color: #1F4BFF;
  }
  #filter-open{
    transform: rotate(180deg);
    color: #1F4BFF;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
  }
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
