@mixin unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

body {
  padding-top: 90px;// Because of header. Check header.css for collapsed
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f8f9fa;
}

@import "buttons";
@import "timetable";
@import "resultTable";
@import "searchFilter";
@import "tabs.scss";
@import "login.scss";
@import "cellSelector.scss";
@import "courseEditor.scss";
@import "header.scss";
@import "footer.scss";
@import "svgIcon.scss";

input:focus {
  outline: none!important;
  box-shadow: none!important;
  border-color: #b7c3ce!important;
}

input[type='text']::placeholder {
  opacity: 0.2!important;
}
// At SPA, there's no page change, so focus when clicked is preserved :(
.navbar-nav>li>a:focus { color: white!important }

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

