@mixin unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@import "navbar";
@import "timetable";
@import "resultTable";
@import "searchFilter";
@import "tabs.scss";
@import "login.scss";
@import "cellSelector.scss";
@import "courseEditor.scss";

body {
  padding-top:61px;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #F4F4F4;
}

input:focus {
  outline: none;
}
// At SPA, there's no page change, so focus when clicked is preserved :(
.navbar-nav>li>a:focus { color: white!important }

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
