@mixin unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@import "navbar";
@import "timetable";
@import "resultTable";
@import "searchFilter";
@import "tabs.scss";
@import "login.scss";
@import "cellSelector.scss";

body {
  padding-top:61px;
  font-family: 'Nanum Gothic', Sans-Serif;
  background-color: #F4F4F4;
}

input:focus {
  outline: none;
}
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
