.tab-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 14px;
}

.tab-list .tab-button {
  display: inline-block;
  height: 36px;
  color: #000000;
  opacity: 0.2;
  padding: 6px 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.tab-list .tab-button.active {
  display: inline-block;
  font-weight: bold;
  opacity: 1;
  border-bottom: 1px solid #1bd0c9;
  cursor: default;
}

.tab-list .tab-icon {
  height: 36px;
  padding: 14px 8px;
  display: inline-block;
}

.tab-list .table-title {
  margin-right: 5px;
}

.tab-list .tab-button.active .table-title {
  cursor: text;
}
