.timetable {
  padding: 0px;
  td {
    width: 100px;
    height:20px;
    // padding: 0px;
    position: relative;
  }

  .selected {
    background-color: #CADFE6;
  }

  .dragged {
    background-color: red
  }
}

.timetable * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.course-div {
  background-color: pink;
  height:100%;
  position: absolute; top: 0px; left: 0px;
  width:100%;
  border-radius: 5px;
}

.course-div.preview {
  background-color: #D7DEE0;
  z-index: 1;
  opacity: 0.5;
}
