.timetable {
  padding: 0px;
  border-top-width: 0;
  table-layout: fixed;
  background-color: #FAFAFA;
  td {
    width: 100px;
    height:20px;
    // padding: 0px;
    position: relative;
  }

  .selected {
    background-color: #CADFE6;
  }

  .dragged {
    background-color: red
  }

  .label-hour {
    border-width: 0;
    width: 2em;
    padding: 0;
    text-align: right;
    font-size: 0.5em;
    color: #9B9B9B;
  }

  .label-gyosi {
    border-width: 1px 0;
    width: 2em;
    text-align: center;
    padding: 8px 0;
  }

  .label-date {
    color: #4A4A4A;
    border-width: 1px 0;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 0;
  }

  .blank-right {
    width: 1em;
    border-width: 0;
  }

  .td-body {
    border-width: 1px 0;
  }
}

.timetable * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
}

.course-div {
  background-color: pink;
  height:100%;
  position: absolute; top: 0px; left: 0px;
  width:100%;
  border-radius: 5px;
}

.course-div.preview {
  background-color: #D7DEE0;
  z-index: 1;
  opacity: 0.5;
}

#timetable-container {
  position: relative;
}

#custom-lecture-form {
  position: absolute;
  right: 100%;
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.9);
  label {
    font-size: 1em;
    font-weight: normal;
  }

  input {
    border-radius: 1;
    margin-bottom: 3px;
  }

  #memo {
    margin-bottom: 14px;
  }

  button {
    margin-right: 5px;
  }
}
