.timetable {
  padding: 0px;
  border-top-width: 0;
  table-layout: fixed;
  background-color: #FAFAFA;
  td {
    width: 100px;
    height:20px;
    position: relative;
  }

  .dragged {
    background-color: red
  }

  .label-hour {
    border-width: 0;
    width: 2em;
    padding: 0;
    text-align: right;
    font-size: 0.5em;
    color: #9B9B9B;
  }

  .label-gyosi {
    border-width: 1px 0;
    width: 2em;
    text-align: center;
    padding: 8px 0;
  }

  .label-date {
    color: #4A4A4A;
    border-width: 1px 0;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 0;
  }

  .blank-right {
    width: 1em;
    border-width: 0;
  }

  .even .td-body {
    border: none;
    border-top: 1px solid #ddd;
  }
  .odd .td-body {
    border: none;
    border-top: 1px dashed #ddd;
  }

  .course-div {
    background-color: pink;
    height:100%;
    position: absolute; top: 0px; left: 0px;
    width:100%;
    border-radius: 5px;
    z-index: 1;
    padding: 0 2px;
    text-align: center;
    .title-box {
      position: relative;
      transform: translateY(-33%);
      top: 33%;
      font-size: 0.7em;
      line-height: normal;
    }
    .title-box p {
      margin-bottom: 3px;
    }
    .tool-box {
      visibility: hidden;
      position: absolute;
      right: 1px;
      top: 1px;
      font-size: 0.7em;
      span { margin-left: 2px}
    }
    &:hover .tool-box {
      visibility: visible;
    }
  }

  .preview {
    background-color: #D7DEE0;
    z-index: 2;
    opacity: 0.9;
  }
}

.timetable * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
}

#timetable-container {
  position: relative;
}

#add-button {
    background-color: #448AFF;
    color: white;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

#add-button:hover {
    background-color: #03A9F4;
}

#add-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
